.test-h {
  padding: 10px;

  view {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-clip: content-box;
    background-size: cover;
  }

  .demo-text-1 {
    background-image: url("http://cdn.mr8god.cn/img/8.webp");
  }

  .demo-text-2 {
    background-image: url("http://cdn.mr8god.cn/img/index_webp.webp");
  }

  .demo-text-3 {
    background-image: url("http://cdn.mr8god.cn/img/index3.jpg");
  }
}

.at-search-bar {
  .at-search-bar__action {
    background-color: #f3cf8b;
  }
}

